APP_ENV=development
CL_DEBUG=true

HOST=0.0.0.0
PORT=8000

GROQ_API_KEY=xxxxxx

MODEL_NAME=llama-3.3-70b-versatile
TEMPERATURE=0.7
MAX_OUTPUT_TOKENS=2048              

DATABASE_URL=xxxx
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080

GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxx

ALLOWED_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
DEMO_MODE=false